@import "../default/designer_screen.css";

.mf-designer-screen-tpl {
  background: transparent;
  border-radius: 0;
  box-shadow: none;
}

.designer-container::before {
  content: '';
  display: block;
  background-color: var(--bg-color);
  position: absolute;
  top: 0;
  left: 20.5%;
  width: 66.5%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 1);
}

.designer-container::after {
  content: '';
  display: block;
  background-color: var(--bg-color);
  position: absolute;
  top: 3%;
  right: 2%;
  width: 50%;
  height: 94%;
  border-radius: 12px;
}

.designer-container > * {
  position: relative;
}

.preview-frame {
  z-index: 0;
}
.designer-container::after {
  z-index: 0;
}
.command-navigator {
  z-index: 1;
}
.designer-container::before {
  z-index: 2;
}
.command-panel-frame {
  z-index: 3;
}
.navigator-options {
  z-index: 4;
}

.mf-designer-screen-tpl .preview-frame::before {
  content: '';
  background: var(--bg-color);
  border-radius: 12px 0 0 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
