:root {
  color-scheme: light dark;
  --grid-select-blank-slot-bg-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><rect width="24" height="24" fill="%23E0E0E0"/><path stroke="%23757575" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5"/></svg>');
  --grid-select-slot-bg-color: #ccc;
  --bg-color: #ffffff;
  --mf-btn-bg: #E0E0E0;
  --mf-btn-color: #757575;
  --mf-btn-color-active: #ECEFF1;
  --mf-btn-bg-active: #546E7A;
  --mf-btn-glow: 0, 0, 0;
  --mf-btn-glow-alpha: 0.25;
  --mf-color-grid-btn-glow-alpha: 0.1;
  --mf-nav-btn-bg-active: var(--mf-btn-bg);
}

button {
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: default;
}

.hidden {
  display: none;
}

/* ------------------------------------- /* GridSelect component */ 

.grid-select-pages-nav {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 999;
}
.grid-select-layout {
  height: 100%;
  direction: rtl;
}
.grid-select-slots-layout {
  height: 100%;
}
.grid-select-page-btn {
  background: var(--mf-btn-bg-active);
  color: var(--mf-btn-color-active);
}
.grid-select-page-btn:disabled {
  display: none;
}
.grid-select-page-btn svg {
  /* flip the icons to match rtl direction */
  transform: scaleX(-1);
}

/* ------------------------------------- frames */

.mf-designer-screen-tpl {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 45%;
  background: var(--bg-color);
  background-size: contain;
  border-radius: 5px;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.mf-designer-screen-tpl .command-navigator,
.mf-designer-screen-tpl .navigator-options,
.mf-designer-screen-tpl .asset-grid,
.mf-designer-screen-tpl .preview-frame {
  text-align: center;
  box-sizing: border-box;
}
.mf-designer-screen-tpl .preview-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  height: auto;
  position: relative;
}

.mf-designer-screen-tpl .command-navigator {
  width: 12.13%;
}

.mf-designer-screen-tpl .navigator-options {
  width: 14.7%;
}

.mf-designer-screen-tpl .command-panel-frame {
  height: 100%;
  margin: 0 1%;
  width: 50%;
	display: flex;
	flex-direction: row;
  justify-content: space-between;
	gap: 2%;
  position: relative;
}

.mf-designer-screen-tpl .asset-grid {
  height: 100%;
  flex-grow: 1;
  max-width: 85%;
  padding: 0.25% 0.25%;
}

.mf-designer-screen-tpl .color-grid {
  width: 10%;
  box-sizing: border-box;
	margin-top: 5%;
}

.mf-designer-screen-tpl .preview-frame {
  width: 20%;
}

.mf-designer-screen-tpl .canvas-frame {
  width: 180px;
  height: 187px;
	border-radius: 15%;
  overflow: hidden;
	border-radius: 15%;
	overflow: hidden;
}

.mf-designer-screen-tpl .renderer-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.mf-designer-screen-tpl .renderer-container button {
  opacity: 0;
  font-size: 1.5em;
  font-weight: bold;
  text-wrap: nowrap;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: transparent;
}

.mf-designer-screen-tpl .renderer-container button,
.mf-designer-screen-tpl .renderer-container button:hover {
  background-color: var(--mf-btn-bg-active);
  color: #fff;
}

.mf-designer-screen-tpl .renderer-container button:hover {
  opacity: 1;
}

/* ------------------------------------- command-navigator */

.mf-designer-screen-tpl .command-navigator .tab-layout {
  height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
	gap: 2%;
}
.mf-designer-screen-tpl .command-navigator .tab {
  display: block;
  height: 0;
  padding: 0;
  width: 50%;
  padding-top: 50%;
  border-radius: 50%;
  background: no-repeat center;
  background-size: auto 50%;
  border: none;
}
.mf-designer-screen-tpl .command-navigator .tab[data-selected] {
  background-color: var(--mf-nav-btn-bg-active);
  width: 75%;
  padding-top: 75%;
}

/* ------------------------------------- navigator-options */

.mf-designer-screen-tpl .navigator-options .tab {
  display: block;
  width: 88%;
  margin: 5% auto 0;
  padding: 12% 0;
  border-radius: 2em;
  background-color: var(--mf-btn-bg);
  color: var(--mf-btn-color);
  font-size: 1em;
  border: 0;
  font-weight: bold;
  text-wrap: nowrap;
  text-transform: uppercase;
}
.mf-designer-screen-tpl .navigator-options .tab[data-selected] {
  background-color: var(--mf-btn-bg-active);
  color: var(--mf-btn-color-active);
  font-size: 1.5em;
}

/* ------------------------------------- asset-grid, color-grid */

.mf-designer-screen-tpl .asset-grid .grid-select-slot,
.mf-designer-screen-tpl .color-grid .grid-select-slot {
  border-radius: 15%;
  overflow: hidden;
  opacity: 0.9;
}
.mf-designer-screen-tpl .asset-grid .grid-select-slot:hover,
.mf-designer-screen-tpl .color-grid .grid-select-slot:hover {
  opacity: 1;
}
.mf-designer-screen-tpl .asset-grid .grid-select-slot[data-selected],
.mf-designer-screen-tpl .color-grid .grid-select-slot[data-selected] {
  opacity: 1;
}

/* ------------------------------------- asset-grid */

.mf-designer-screen-tpl .asset-grid .grid-select-slots-layout {
  grid-template-columns: repeat(6, 1fr);
  gap: 2%;
}
.mf-designer-screen-tpl .asset-grid .grid-select-slot {
  background-size: 100% 100%;
}
.mf-designer-screen-tpl .asset-grid .grid-select-slot[data-selected] {
  background-size: 150% 150%;
  box-shadow: 0 0 0 1.5em rgba(var(--mf-btn-glow), var(--mf-btn-glow-alpha));
  border-radius: 50%;
}

/* ------------------------------------- color-grid */

.mf-designer-screen-tpl .color-grid .grid-select-slots-layout {
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}
.mf-designer-screen-tpl .color-grid .grid-select-slot {
  border-radius: 50%;
	background: transparent;
  width: 60%;
}
.mf-designer-screen-tpl .color-grid .grid-select-slot[data-selected] {
  box-shadow: 0 0 0 1.25em rgba(var(--mf-btn-glow), var(--mf-color-grid-btn-glow-alpha));
  width: 90%;
}

/* ------------------------------------- #facePreview */

#fdFacePreview {
  position: relative;
  width: 180px;
  height: 187px;
  margin: 16px 0 13px 5px;
  overflow: hidden;
}
#fdFacePreview::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
#fdFacePreview img {
  position: absolute;
}

/* ------------------------------------- frame-box */

.mf-designer-screen-tpl .frame-box {
  display: block;
  width: 95%;
  padding: 2px 0;
  margin: 5px auto 0;
  background-color: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  text-align: center;
  line-height: 0;
}
.mf-designer-screen-tpl .frame-box .g-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 2px;
  background: no-repeat center;
  background-size: cover;
}

/* ------------------------------------- #fdColorBox */

#fdColorBox ul {
  line-height: 0;
  list-style: none;
}
#fdColorBox ul li {
  display: inline-block;
  width: 15%;
  height: 0;
  padding-top: 15%;
  margin: 2px 5%;
  background: var(--mf-btn-bg) center;
  background-size: cover;
  opacity: 0.8;
}
#fdColorBox ul li:hover {
  opacity: 1;
}

/* ------------------------------------- frame-bar */

.mf-designer-screen-tpl .frame-bar {
  display: table;
  position: absolute;
  width: 100%;
  height: 30px;
  top: 0;
  left: 0;
  background: #0288d1;
}
.mf-designer-screen-tpl .frame-bar > section {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  box-sizing: border-box;
  color: #ffffff;
}
.mf-designer-screen-tpl .frame-bar section.title {
  width: 200px;
  background: #01579b;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
.mf-designer-screen-tpl .frame-bar a {
  font-weight: bold;
  font-size: 0.85em;
  text-decoration: none;
  color: #0288d1;
  background-color: #fff;
}
.mf-designer-screen-tpl .frame-bar a:hover {
  color: #fff;
  background-color: transparent;
}

/* ------------------------------------- #monitor */

#monitor {
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 999;
}
#monitor > img {
  -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

/* --- */

.designer-container {
  width: 100%;
  height: 100%;
	padding: 2% 1%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
	box-sizing: border-box;
}

.designer-container > * {
	height: 100%;
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #424242;
    --mf-btn-bg: #757575;
    --mf-btn-color: #212121;
    --mf-btn-glow: 255, 255, 255;
    --mf-btn-glow-alpha: 0.5;
    --mf-color-grid-btn-glow-alpha: 0.25;
  }
}
