html, body {
    width: 100%;
    height: 100%;
}
body {
	background: #000000 url("../images/background.jpg") no-repeat center;
	background-size: cover;
}
*, html {
    margin: 0;
    padding: 0;
}

/* ------------------------------------- frame */

.face-app .frame {
	position: relative;
	width: 850px;
	height: 435px;
	padding: 0 5px;
	margin: 0 auto;
	background: #ffffff url('../images/facedesigner/frame.png') no-repeat center;
	border-radius: 5px;
	box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
	font-family: Tahoma, sans-serif;
	font-size: 13px;
	overflow: hidden;
}
.face-app .frame-section {
	float: left;
	border: 1px solid transparent;
	text-align: center;
}
.face-app ul.frame-section {
	list-style: none;
}
.face-app .frame-section:nth-child(1) {
	width: 190px;
	height: 375px;
	margin-left: 3px;
	margin-top: 40px;
}
.face-app .frame-section:nth-child(2) {
	width: 347px;
	height: 330px;
	margin-left: 36px;
	margin-top: 62px;
	background: #FAFAFA;
	border: 1px solid #757575;
	border-left: 0;
	border-right: 0;
}
.face-app .frame-section:nth-child(3) {
	width: 123px;
	height: 346px;
	margin-left: 20px;
	margin-top: 55px;
}
.face-app .frame-section:nth-child(4) {
	width: 104px;
	height: 377px;
	margin-left: 17px;
	margin-top: 40px;
}

/* ------------------------------------- frame-bar */

.face-app .frame-bar {
	display: table;
	position: absolute;
	width: 100%;
	height: 30px;
	top: 0;
	left: 0;
	background: #0288D1;
	color: #ffffff;
}
.face-app .frame-bar > * {
	display: table-cell;
	vertical-align: middle;
}
.face-app .frame-bar .title {
	width: 200px;
	background: #01579B;
}
.face-app .frame-bar .title:before {
	content: '•';
	margin: 0 5px;
}
.face-app .frame-bar label {
	padding: 0 5px;
}
.face-app .frame-bar label > * {
	vertical-align: bottom;
}

/* ------------------------------------- frame-bar */

.face-app .frame-box {
	display: block;
	width: 95%;
	padding: 2px 0;
	margin: 5px auto 0;
	background-color: #ffffff;
	border: 1px solid #BDBDBD;
	border-radius: 4px;
	text-align: center;
	line-height: 0;
}
.face-app ul.frame-box {
    list-style: none;
}
.face-app .frame-box .g-btn {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0 2px;
	background: no-repeat center;
	background-size: cover;
	cursor: pointer;
}
.face-app .frame-box .btn-up[data-status="on"] {
	background-image: url("../images/facedesigner/icons/other/up.png");
}
.face-app .frame-box .btn-up[data-status="off"] {
	background-image: url("../images/facedesigner/icons/other/up_bw.png");
}
.face-app .frame-box .btn-down[data-status="on"] {
	background-image: url("../images/facedesigner/icons/other/down.png");
}
.face-app .frame-box .btn-down[data-status="off"] {
	background-image: url("../images/facedesigner/icons/other/down_bw.png");
}

/* ------------------------------------- categories */

.face-app .section-categories li {
	width: 90%;
	height: 18%;
	margin: 4.5% auto 0;
	border-radius: 8px;
	background: #0091EA no-repeat center;
	border: 1px solid #0091EA;
	cursor: pointer;
}
.face-app .section-categories li:hover {
	background-color: #00B0FF;
}
.face-app .section-categories li.active {
	background-color: #ffffff;
	border-color: #aeaeae;
	cursor: default;
}
.face-app .section-categories li[data-disabled="true"] {
	cursor: not-allowed;
	opacity: 0.5;
}
.face-app .section-categories li[data-disabled="true"]:hover {
	background-color: #0091EA;
}
.face-app .section-categories li[data-number="1"] {
	background-image: url("../images/facedesigner/icons/01.png");
}
.face-app .section-categories li[data-number="2"] {
	background-image: url("../images/facedesigner/icons/02.png");
}
.face-app .section-categories li[data-number="3"] {
	background-image: url("../images/facedesigner/icons/03.png");
}
.face-app .section-categories li[data-number="4"] {
	background-image: url("../images/facedesigner/icons/04.png");
}
.face-app .section-categories li[data-number="5"] {
	background-image: url("../images/facedesigner/icons/05.png");
}

/* ------------------------------------- subcategories */

.face-app .section-subcategories ul {
	display: none;
}
.face-app .section-subcategories li {
	width: 90%;
	margin: 8px auto 0;
	padding: 8px 0;
	border-radius: 19px;
	color: #FFFFFF;
	background-color: #9E9E9E;
	list-style: none;
	cursor: pointer;
}
.face-app .section-subcategories li:hover {
	background-color: #C51162;
}
.face-app .section-subcategories li.active {
	background-color: #000000;
	cursor: default;
}
.face-app .section-subcategories li[data-disabled="true"] {
	cursor: not-allowed;
	opacity: 0.5;
}
.face-app .section-subcategories li[data-disabled="true"]:hover {
	background-color: #9E9E9E;
}

/* ------------------------------------- section-items */

.face-app .section-items {
}

/* ------------------------------------- #facePreview */

#fdFacePreview {
	position: relative;
	width: 180px;
	height: 187px;
	margin: 16px 0 13px 5px;
	background: url("../images/facedesigner/no_face.png") no-repeat;
	overflow: hidden;
}
#fdFacePreview::after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
}
#fdFacePreview img {
	position: absolute;
}

/* ------------------------------------- btn */

button {
	color: #ffffff;
	background: #0091EA;
	border: 1px solid #01579B;
	border-radius: 5px;
	font-family: inherit;
	cursor: pointer;
}
button:hover {
	background-color: #00B0FF;
}
button:disabled {
	background-color: #BDBDBD;
	border-color: #9E9E9E;
}

.btn-save {
	width: 140px;
	padding: 8px;
	margin-top: 7px;
}

/* ------------------------------------- global */

.visible {
	display: block !important;
}

/* ------------------------------------- #fdItems */

#fdItems ul {
	line-height: 0;
	padding-top: 1px;
	list-style: none;
}
#fdItems ul li {
	display: inline-block;
	width: 50px;
	height: 49px;
	margin: 2px;
	background: #E0E0E0 center;
	background-size: cover;
	opacity: 0.8;
	cursor: pointer;
}
#fdItems ul li {
	width: 15.4%;
	height: 0;
	padding-top: 14.6%;
}
#fdItems ul li:hover {
	opacity: 1;
}

/* ------------------------------------- #fdColorBox */

#fdColorBox ul {
	line-height: 0;
	list-style: none;
}
#fdColorBox ul li {
	display: inline-block;
	width: 15%;
	height: 0;
	padding-top: 15%;
	margin: 2px 5%;
	background: #E0E0E0 center;
	background-size: cover;
	opacity: 0.8;
	cursor: pointer;
}
#fdColorBox ul li:hover {
	opacity: 1;
}

/* ------------------------------------- #monitor */

#monitor {
	display: none;
	width: 100%;
	height: 100%;
	padding-top: 100px;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	z-index: 999;
}
#monitor > img {
	-webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
	border-radius: 5px;
}

/* ------------------------------------- freepik */

.freepik {
	margin: 25px;
	text-align: center;
	color: #fff;
	font-size: 0.6em;
}
.freepik a {
	color: inherit;
}